<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="nugetSincoAzure" value="https://pkgs.dev.azure.com/sincosoftsas/_packaging/SincoERPAutentication/nuget/v3/index.json" />
    <add key="nugetMaquinaria" value="https://pkgs.dev.azure.com/sincosoftsas/Maquinaria/_packaging/SincoSoft.MYE/nuget/v3/index.json" />

  </packageSources>
  <packageSourceCredentials>
    <nugetSincoAzure>
      <add key="Username" value="docker" />
      <add key="ClearTextPassword" value="YOUR_AZURE_DEVOPS_TOKEN_HERE" />
    </nugetSincoAzure>
    <nugetMaquinaria>
      <add key="Username" value="docker" />
      <add key="ClearTextPassword" value="YOUR_AZURE_DEVOPS_TOKEN_HERE" />
    </nugetMaquinaria>
  </packageSourceCredentials>
  <packageRestore>
    <add key="enabled" value="True" />
  </packageRestore>
  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>
  <packageManagement>
    <add key="format" value="0" />
    <add key="disabled" value="False" />
  </packageManagement>
</configuration>
